// ==========================================================================

// Navigation for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

// ==========================================================================
// Third Party
// ==========================================================================

@import "font-awesome";


//
// Accordion Tabs
//

.navigation-nodes-sidebar {
    margin: 0 -24px;

    #accordion {
        position: relative;
        z-index: 1;
        box-shadow: inset 0 -1px 0 #e3e5e8;
        min-height: 40px;
        overflow: hidden;
        box-shadow: 0 0 0 1px rgba(205, 216, 228, 0.25), 0 2px 12px rgba(205, 216, 228, 0.5);
        border-radius: 5px;
    }

    #accordion .tab-list {
        display: block;
        max-width: inherit;
    }

    #accordion .tab-list-item {
        .tab {
            color: #576575;
            border-bottom: 1px solid rgba(0, 0, 20, 0.1);
            max-width: 100% !important;

            position: relative;
            display: block;
            padding: 10px 20px;
            white-space: nowrap;
            overflow: hidden;
            background: #f3f7fc;

            &:after {
                font-family: 'Craft';
                speak: none;
                font-feature-settings: "liga", "dlig";
                text-rendering: optimizeLegibility;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                direction: ltr;
                display: inline-block;
                text-align: center;
                font-style: normal;
                vertical-align: middle;
                word-wrap: normal !important;
                user-select: none;
                content: 'downangle';
                float: right;
                margin-top: 2px;
                font-size: 16px;
            }

            &:hover {
                text-decoration: none;
                background: darken(#f3f7fc, 2%);
            }

            &.sel {
                color: #29323d;
                padding-bottom: 10px;

                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .tab-list-pane {
        background: #cdd8e4;
        padding: 20px;
        border-bottom: 1px solid rgba(0, 0, 20, 0.1);

        .field {
            margin-left: 0;
            margin-right: 0;
        }
    }

    input.text {
        background: #fff !important;
        border-color: #9eb4c5;
    }
}


//
// Structure
//

.navigation-nodes-instructions {
    margin: -1rem 1.5rem 1rem 1.5rem;
}

// Hide toolbar items. Required to exist for element index
.body-navigation-nodes-index #toolbar {
    .search-container,
    .search-container + section,
    .search,
    .search + div {
        display: none;
    }
}

.body-navigation-nodes-index #navigation-nodes-index {
    .tablepane {
        margin: -24px -24px -10px -24px;
    }

    table.data thead th {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Style the TR items, to also work when in dragee, but not affect other element indexes (modals)
.body-navigation-nodes-index #navigation-nodes-index,
.body-navigation-nodes-index .elements.datatablesorthelper {
    table.data th:first-child,
    table.data td:first-child {
        padding-left: 15px !important;
    }

    table.data th:last-child,
    table.data td:last-child {
        padding-right: 15px !important;
    }

    table.data tbody th,
    table.data tbody td {
        padding-top: 0;
        padding-bottom: 0;
    }

    table.data .element.small,
    table.data .element.large:not(.hasthumb) {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    table.data th:nth-child(3),
    table.data td:nth-child(3) {
        width: 1px;
        white-space: nowrap;
        text-align: right;
    }

    .node-edit-btn {
        position: static;
        height: 20px;
        border: 1px rgba(96, 125, 159, 0.25) solid;
        font-size: 11px;
        font-weight: 400;
        background: transparent;
        opacity: 0;
        transition: opacity 0.2s ease;
        margin-left: 7px;
    }

    tr:hover .node-edit-btn {
        opacity: 1;
    }

    // Info Icons
    table.data .node-info-icons {
        display: inline-flex;
        align-items: baseline;
    }

    table.data .node-info-icons .fa {
        font-size: 11px;
    }

    table.data .node-info-icons .fa,
    table.data .node-info-icons .icon {
        position: static;
        margin: 0 0 0 7px;
        display: inline-block;

        &:hover:before,
        &:before {
            color: rgba(#7b8793, 0.5);
        }
    }

    table.data .node-info-icons .node-classes {
        color: #8f98a3;
        margin: 0 0 0 7px;
        display: inline-block;
        line-height: 1.4;
        font-weight: 400;
        font-size: 0.75em !important;
    }

    // Node Types
    .node-type {
        --node-type-color: 136, 136, 136;

        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: default;
        user-select: none;
        text-align: right;
    }

    .node-type span {
        padding: 4px 6px;
        border-radius: 4px;
        border: 1px solid transparent;
        color: rgba(var(--node-type-color), 1);
        background: rgba(var(--node-type-color), 0.05);
        border-color: rgba(var(--node-type-color), 0.25);
    }
}

// Hide some of the element info for the toast notifications
#notifications .notification-body {
    .node-info-icons,
    .node-edit-btn {
        display: none;
    }
}

// ==========================================================================
// Settings
// ==========================================================================

.navigation-settings-tabs li {
    width: 100%;
    max-width: 100% !important;
}

