{% spaceless %}

{% set ulClass = options.ulClass ?? '' %}
{% set liClass = options.liClass ?? '' %}
{% set aClass = options.aClass ?? '' %}
{% set activeClass = options.activeClass ?? 'active' %}

<ul class="{{ ulClass }}">
    {% nav node in nodes %}
        <li class="{% if node.classes | length %}{{ node.classes }}{% endif %} {{ liClass }}">
            <a href="{{ node.url }}" class="{% if node.active %}{{ activeClass }}{% endif %} {{ aClass }}"{% if node.newWindow %} target="_blank" rel="noopener"{% endif %}>
                {{- node.title -}}
            </a>

            {% ifchildren %}
                <ul class="{{ ulClass }}">
                    {% children %}
                </ul>
            {% endifchildren %}
        </li>
    {% endnav %}
</ul>

{% endspaceless %}