ENVIRONMENT="testing"
CRAFT_SECURITY_KEY="change-me-for-testing"
CRAFT_APP_ID="CraftCMS-NavigationTests"

CRAFT_DB_DRIVER="mysql"
CRAFT_DB_SERVER="127.0.0.1"
CRAFT_DB_PORT="3306"
CRAFT_DB_DATABASE="navigation_test"
CRAFT_DB_USER="root"
CRAFT_DB_PASSWORD=""
CRAFT_DB_SCHEMA="public"
CRAFT_DB_TABLE_PREFIX=""

PRIMARY_SITE_URL="https://navigation-test.test"
