/.env* export-ignore
/.cache export-ignore
/.DS_Store export-ignore
/.github export-ignore
/.plugin-store export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/node_modules export-ignore
**/node_modules export-ignore
/vendor export-ignore
/tests export-ignore
/docs export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpunit*.xml export-ignore
/vite.config.* export-ignore
/src/web/src export-ignore
/src/web/tsconfig.json export-ignore
/.ddev export-ignore
/.phpunit* export-ignore
/.pest* export-ignore
