{% extends 'navigation/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: craft.navigation.getPluginName(), url: url('navigation/settings') },
    { label: 'Settings' | t('app'), url: url('navigation/settings') }
] %}

{% set fullPageForm = true %}

{% block blockContent %}

<input type="hidden" name="action" value="plugins/save-plugin-settings">
<input type="hidden" name="pluginHandle" value="navigation">

{% namespace 'settings' %}
    {{ forms.textField({
        id: 'pluginName',
        name: 'pluginName',
        label: 'Plugin Name' | t('app'),
        value: settings.pluginName,
        first: true,
        autofocus: true,
        instructions: 'Plugin name for the end user.' | t('navigation'),
    }) }}
{% endnamespace %}

<hr>

<h2>{{ 'Migrate A&M Nav plugin' | t('navigation') }}</h2>

<p>{{ 'If you\'re migrating from a Craft 2 site that used the [A&M Nav](https://github.com/am-impact/amnav) plugin, you can use this utility to convert those menus and navigation items to the Navigation plugin.' | t('navigation') | md }}</p>

<a class="btn submit" href="{{ actionUrl('navigation/base/migrate') }}">{{ 'Migrate' | t('navigation') }}</a>

{% endblock %}
