{% import '_includes/forms' as forms %}

{% set sites = [{
    label: 'Select a site' | t('navigation'),
    value: '',
}] %}

{% for site in craft.app.sites.getAllSites() %}
    {% if site.hasUrls %}
        {% set sites = sites | merge([{ label: site.name, value: site.id }]) %}
    {% endif %}
{% endfor %}

{{ forms.selectField({
    label: 'Site' | t('app'),
    instructions: 'Select a site to use its Base URL.' | t('navigation'),
    id: 'siteId',
    name: 'siteId',
    options: sites,
}) }}