{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

<p>{{ 'If you\'re migrating from a Craft 2 site that used the [A&M Nav](https://github.com/am-impact/amnav) plugin, you can use this utility to convert those menus and navigation items to the Navigation plugin.' | t('navigation') | md }}</p>

{% if craft.app.getIsMultiSite() %}
    <h3>{{ 'Multi Site' | t('navigation') }}</h3>

    <p>{{ 'For a multi-site install, and if you had navigation\'s setup per-site, you\'ll want to turn off node propagation. This will ensure that each menu contains only the nodes for that site. You can also choose whether to put nodes that don\'t have a matching site in the default site\'s navigation.' | t('navigation') | md }}</p>

    <p>{{ 'Ensure that you have sites setup with the language set to the same value as the `locale` column in `amnav_nodes`. For example, if you had `fr_ca` in your `amnav_nodes` table, you should have a site with language set to `fr-CA`.' | t('navigation') | md }}</p>

    {{ forms.checkboxField({
        label: 'Propagate nodes to all navigations' | t('navigation'),
        name: 'propagate',
        value: 1,
        class: 'migrate-checkbox',
        checked: false,
    }) }}

    {{ forms.checkboxField({
        label: 'Add nodes for missing site to the default site.' | t('navigation'),
        name: 'assignToDefaultSite',
        value: 1,
        class: 'migrate-checkbox',
        checked: false,
    }) }}
{% endif %}

<a class="btn submit btn-migrate" href="#" data-action="navigation/base/am-nav-migrate">{{ 'Migrate' | t('navigation') }}</a>

{% if output is defined %}

    <hr>

    <code>{{ output | raw }}</code>

{% endif %}