{% import '_includes/forms' as forms %}

{% set elements = craft.navigation.getRegisteredElements() %}
{% set nodeTypes = craft.navigation.getRegisteredNodeTypes() %}

{% set options = [] %}

{% for tabId, tab in craft.navigation.getBuilderTabs(node.nav) %}
    {% set options = options | merge([{
        label: tab.label,
        value: tab.type,
    }]) %}
{% endfor %}

{{ forms.selectField({
    label: 'Type' | t('navigation'),
    instructions: 'The type of node this is.' | t('navigation'),
    id: 'type',
    name: 'type',
    value: node.getNodeType(),
    options: options,
}) }}

{% if node.isElement() %}
    {% include 'navigation/nodes/_element' %}
{% elseif node.nodeType() %}
    {% include 'navigation/nodes/_node-type' %}
{% else %}
    {% include 'navigation/nodes/_custom' %}
{% endif %}

{% set form = node.getFieldLayout().createForm(node) %}

{% if form.render() %}
    <hr>

    {{ form.render() | raw }}
{% endif %}
