{% extends 'navigation/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: craft.navigation.getPluginName(), url: url('navigation') },
    { label: 'Navigations' | t('navigation'), url: url('navigation/navs') },
] %}

{% set title = nav.name %}

{% block contextMenu %}
    {% set sites = craft.app.sites.getEditableSites() %}

    {% if sites | length %}
        <div id="revision-btn" class="btn menubtn nav-site-menubtn" data-icon="world">{{ site.name }}</div>

        <div class="menu">
            <ul class="padded">
                {% for s in sites %}
                    <li>
                        <a data-site-id="{{ s.id }}" href="{{ url('navigation/navs/build/' ~ nav.id ~ '/' ~ s.handle) }}" {% if s.handle == site.handle %}class="sel"{% endif %}>
                            {{ s.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block details %}

<div class="nav-sidebar">
    {% set tabs = craft.navigation.getRegisteredElements() %}
    {% set disabledElements = settings.disabledElements %}

    <nav id="accordion" data-vui-tabs>
        <ul class="tab-list">
            {% for tabId, tab in tabs %}
                {% set selected = loop.first %}

                <li class="tab-list-item" data-id="{{ tabId }}" data-element-type="{{ tab.type }}">
                    <a id="tab-{{ tabId }}" class="tab{% if selected %} sel{% endif %}" href="#{{ tabId }}" title="{{ tab.label }}">{{ tab.label }}</a>

                    <div id="{{ tabId }}" class="tab-list-pane {% if not selected %}hidden{% endif %}">
                        {% if nav.maxLevels == '' or nav.maxLevels > 1 %}
                            {{ forms.selectField({
                                label: 'Parent' | t('navigation'),
                                instructions: 'Select a navigation item as the parent.' | t('navigation'),
                                id: 'parent',
                                name: 'parent',
                                options: parentOptions,
                                class: 'fullwidth js-parent-node',
                            }) }}
                        {% endif %}

                        {{ forms.lightswitchField({
                            label: 'Open in new window' | t('navigation'),
                            instructions: 'Whether to open this navigation item in a new window.' | t('navigation'),
                            id: 'newWindow',
                            name: 'newWindow',
                            on: false,
                            class: 'js-new-window-node',
                        }) }}

                        <div class="buttons">
                            <div class="btn submit add icon js-btn-element-add" data-element-type="{{ tab.type }}">{{ tab.button }}</div>
                            <div class="spinner hidden"></div>
                        </div>
                    </div>
                </li>
            {% endfor %}

            {% set nodeTypes = craft.navigation.getRegisteredNodeTypes() %}

            {% for nodeType in nodeTypes %}
                <li class="tab-list-item" data-node-type="{{ className(nodeType) }}">
                    <a id="tab-url" class="tab" href="#{{ nodeType.displayName | kebab }}" title="{{ nodeType.displayName }}">
                        {{ nodeType.displayName }}
                    </a>

                    <div id="{{ nodeType.displayName | kebab }}" class="tab-list-pane hidden">
                        <form class="node-type-form" method="post" accept-charset="UTF-8">
                            {% if nav.maxLevels == '' or nav.maxLevels > 1 %}
                                {{ forms.selectField({
                                    label: 'Parent' | t('navigation'),
                                    instructions: 'Select a navigation item as the parent.' | t('navigation'),
                                    id: 'parent',
                                    name: 'parent',
                                    options: parentOptions,
                                    class: 'fullwidth js-parent-node',
                                }) }}
                            {% endif %}

                            {% if nodeType.hasNewWindow() %}
                                {{ forms.lightswitchField({
                                    label: 'Open in new window' | t('navigation'),
                                    instructions: 'Whether to open this navigation item in a new window.' | t('navigation'),
                                    id: 'newWindow',
                                    name: 'newWindow',
                                    on: false,
                                    class: 'js-new-window-node',
                                }) }}
                            {% endif %}

                            {% if nodeType.hasTitle() %}
                                {{ forms.textField({
                                    label: 'Title' | t('navigation'),
                                    id: 'title',
                                    name: 'title',
                                    first: true,
                                    required: true,
                                    instructions: 'Name of this node in the navigation.' | t('navigation'),
                                }) }}
                            {% endif %}

                            {% if nodeType.hasUrl() %}
                                {{ forms.textField({
                                    label: 'URL' | t('navigation'),
                                    id: 'url',
                                    name: 'url',
                                    instructions: 'The URL of this node.' | t('navigation'),
                                }) }}
                            {% endif %}

                            <div class="node-type-data">
                                {% namespace 'data' %}
                                    {{ nodeType.getSettingsHtml() | raw }}
                                {% endnamespace %}
                            </div>

                            <div class="buttons">
                                <input type="submit" class="btn submit" value="{{ 'Add {name}' | t('navigation', { name: nodeType.displayName }) }}">
                                <div class="spinner hidden"></div>
                            </div>
                        </form>
                    </div>
                </li>
            {% endfor %}

            {% if 'custom' not in disabledElements %}
                <li class="tab-list-item">
                    <a id="tab-url" class="tab" href="#custom-url" title="{{ 'Custom URL' | t('navigation') }}">
                        {{ 'Custom URL' | t('navigation') }}
                    </a>

                    <div id="custom-url" class="tab-list-pane hidden">
                        <form id="manual-form" method="post" accept-charset="UTF-8">
                            {% if nav.maxLevels == '' or nav.maxLevels > 1 %}
                                {{ forms.selectField({
                                    label: 'Parent' | t('navigation'),
                                    instructions: 'Select a navigation item as the parent.' | t('navigation'),
                                    id: 'parent',
                                    name: 'parent',
                                    options: parentOptions,
                                    class: 'fullwidth js-parent-node',
                                }) }}
                            {% endif %}

                            {{ forms.lightswitchField({
                                label: 'Open in new window' | t('navigation'),
                                instructions: 'Whether to open this navigation item in a new window.' | t('navigation'),
                                id: 'newWindow',
                                name: 'newWindow',
                                on: false,
                                class: 'js-new-window-node',
                            }) }}

                            {{ forms.textField({
                                label: 'Title' | t('navigation'),
                                id: 'title',
                                name: 'title',
                                first: true,
                                required: true,
                                instructions: 'Name of this node in the navigation.' | t('navigation'),
                            }) }}

                            {{ forms.textField({
                                label: 'URL' | t('navigation'),
                                id: 'url',
                                name: 'url',
                                instructions: 'The URL of this node.' | t('navigation'),
                            }) }}

                            <div class="buttons">
                                <input type="submit" class="btn submit" value="{{ 'Add' | t('navigation') }}">
                                <div class="spinner hidden"></div>
                            </div>
                        </form>
                    </div>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}

{% block content %}

{% set structure = craft.app.structures.getStructureById(nav.structureId) %}
{% set elements = nodes %}
{% set sortable = true %}

<div class="nav-builder js-nav-builder">
    {% if nav.instructions %}
        <div class="field">
            <div class="heading">
                <div class="instructions">
                    <p>{{ nav.instructions }}</p>
                </div>
            </div>
        </div>
    {% endif %}

    {% embed '_elements/structure' %}
        {% block element %}
            {% include '_elements/element' %}

            <div class="node-type">
                <span class="node-type-{{ element.getNodeTypeLabel() }}">{{ element.getNodeTypeLabel() }}</span>
            </div>

            <span class="node-custom-title edit icon {{ element.hasOverriddenTitle ? '' : 'hidden' }}" title="{{ 'Custom Title' | t('navigation') }}"></span>
            <span class="node-new-window fa fa-external-link {{ element.newWindow ? '' : 'hidden' }}" title="{{ 'New Window' | t('navigation') }}"></span>
            <span class="node-classes classes {{ element.classes | length ? '' : 'hidden' }}">.{{ element.classes }}</span>

            <a class="move icon" title="{{ 'Move' | t('app') }}"></a>
            <a class="settings icon" title="{{ 'Settings' | t('app') }}"></a>
            <a class="delete icon" title="{{ 'Delete' | t('app') }}"></a>
        {% endblock %}
    {% endembed %}
</div>

<div class="js-navigation-empty {% if elements | length %}hidden{% endif %}">
    <p>{{ 'There are no nodes yet.' | t('navigation') }}</p>
</div>

<script id="js-node-template" type="text/template">
    <li data-level="__level__">
        <div class="row">
            <div class="element small hasstatus" data-type="verbb\navigation\elements\Node" data-id="__id__" data-site-id="__siteId__" data-status="__status__" data-label="__title__" data-url="__url__" data-level="__level__">
                <span class="status __status__"></span>
                <div class="label"><span class="title">__title__</span></div>
            </div>

            <div class="node-type">
                <span class="node-type-__type__">__type__</span>
            </div>

            <a class="move icon" title="{{ 'Move' | t('app') }}"></a>
            <a class="settings icon" title="{{ 'Settings' | t('app') }}"></a>
            <a class="delete icon" title="{{ 'Delete' | t('app') }}"></a>
        </div>
    </li>
</script>

{% js %}
    new Craft.Navigation({{ nav | json_encode | raw }}, {
        siteId: {{ site.id }},
        defaultSite: {{ defaultSite | json_encode | raw }},
    });
{% endjs %}

{% endblock %}
