{% extends 'navigation/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: craft.navigation.getPluginName(), url: url('navigation') },
    { label: 'Navigations' | t('navigation'), url: url('navigation/navs') },
] %}

{% set title = nav.name %}

{% block contextMenu %}
    {% if craft.app.sites.getEditableSites() | length > 1 %}
        <div id="revision-btn" class="btn menubtn" data-icon="world">{{ site.name }}</div>

        <div class="menu">
            <ul class="padded">
                {% for s in craft.app.sites.getAllSites() %}
                    <li>
                        <a href="{{ url('navigation/navs/build/' ~ nav.id ~ '/' ~ s.handle) }}" {% if s.handle == site.handle %}class="sel"{% endif %}>
                            {{ s.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block details %}

<div class="nav-sidebar">
    {% set tabs = craft.navigation.getRegisteredElements() %}

    <nav id="tabs">
        <ul class="tab-list">
            {% for tabId, tab in tabs %}
                {% set selected = loop.first %}

                <li class="tab-list-item" data-element-type="{{ tab.type }}">
                    <a id="tab-{{ tabId }}" class="tab{% if selected %} sel{% endif %}" href="#{{ tabId }}" title="{{ tab.label }}">{{ tab.label }}</a>

                    <div id="{{ tabId }}" class="tab-list-pane {% if not selected %}hidden{% endif %}">
                        {{ forms.selectField({
                            label: 'Parent' | t('navigation'),
                            instructions: 'Select a navigation item as the parent.' | t('navigation'),
                            id: 'parent',
                            name: 'parent',
                            options: parentOptions,
                            class: 'fullwidth js-parent-node',
                        }) }}

                        {{ forms.lightswitchField({
                            label: 'Open in new window' | t('navigation'),
                            instructions: 'Whether to open this navigation item in a new window.' | t('navigation'),
                            id: 'newWindow',
                            name: 'newWindow',
                            on: false,
                            class: 'js-new-window-node',
                        }) }}

                        <div class="buttons">
                            <div class="btn submit add icon js-btn-element-add" data-element-type="{{ tab.type }}">{{ tab.button }}</div>
                            <div class="spinner hidden"></div>
                        </div>
                    </div>
                </li>
            {% endfor %}

            <li class="tab-list-item">
                <a id="tab-url" class="tab" href="#custom-url" title="Custom URL">Custom URL</a>

                <div id="custom-url" class="tab-list-pane hidden">
                    <form id="manual-form" method="post" accept-charset="UTF-8">
                        {{ forms.selectField({
                            label: 'Parent' | t('navigation'),
                            instructions: 'Select a navigation item as the parent.' | t('navigation'),
                            id: 'parent',
                            name: 'parent',
                            options: parentOptions,
                            class: 'fullwidth js-parent-node',
                        }) }}

                        {{ forms.lightswitchField({
                            label: 'Open in new window' | t('navigation'),
                            instructions: 'Whether to open this navigation item in a new window.' | t('navigation'),
                            id: 'newWindow',
                            name: 'newWindow',
                            on: false,
                            class: 'js-new-window-node',
                        }) }}

                        {{ forms.textField({
                            label: 'Title' | t('navigation'),
                            id: 'title',
                            name: 'title',
                            first: true,
                            required: true,
                            instructions: 'Name of this node in the navigation.' | t('navigation'),
                        }) }}

                        {{ forms.textField({
                            label: 'URL' | t('navigation'),
                            id: 'url',
                            name: 'url',
                            required: true,
                            instructions: 'The URL of this node.' | t('navigation'),
                        }) }}

                        <div class="buttons">
                            <input type="submit" class="btn submit" value="{{ 'Add' | t('navigation') }}">
                            <div class="spinner hidden"></div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}

{% block content %}

{% set structure = craft.app.structures.getStructureById(nav.structureId) %}
{% set elements = nodes %}
{% set sortable = true %}

<div class="nav-builder js-nav-builder">
    {% embed '_elements/structure' %}
        {% block element %}
            {% include '_elements/element' %}

            {% set type = element.getElement() ? element.getElement().displayName() | lower : 'manual' %}

            <div class="node-type">
                <span class="node-type-{{ type }}">{{ type }}</span>
            </div>

            <a class="move icon" title="{{ 'Move' | t('app') }}"></a>
            <a class="settings icon" title="{{ 'Settings' | t('app') }}"></a>
            <a class="delete icon" title="{{ 'Delete' | t('app') }}"></a>
        {% endblock %}
    {% endembed %}
</div>

<div class="js-navigation-empty {% if elements | length %}hidden{% endif %}">
    <p>{{ 'There are no nodes yet.' | t('navigation') }}</p>
</div>

<script id="js-node-template" type="text/template">
    <li data-level="__level__">
        <div class="row">
            <div class="element small hasstatus" data-type="verbb\navigation\elements\Node" data-id="__id__" data-site-id="__siteId__" data-status="__status__" data-label="__title__" data-url="__url__" data-level="__level__">
                <span class="status __status__"></span>
                <div class="label"><span class="title">__title__</span></div>
            </div>

            <div class="node-type">
                <span class="node-type-__type__">__type__</span>
            </div>

            <a class="move icon" title="{{ 'Move' | t('app') }}"></a>
            <a class="settings icon" title="{{ 'Settings' | t('app') }}"></a>
            <a class="delete icon" title="{{ 'Delete' | t('app') }}"></a>
        </div>
    </li>
</script>

{% js %}
    new Craft.Navigation({{ nav | json_encode | raw }}, {
        siteId: {{ site.id }},
    });
{% endjs %}

{% endblock %}
