{% extends 'navigation/_layouts' %}
{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set crumbs = [
    { label: craft.navigation.getPluginName(), url: url('navigation') },
    { label: 'Navigations' | t('navigation'), url: url('navigation/navs') },
] %}

{% set tabs = [
    { label: 'Settings' | t('app'), url: '#settings' },
    { label: 'Node Fields' | t('navigation'), url: '#node-fields' },
    { label: 'Permissions' | t('navigation'), url: '#permissions' },
] %}

{% set fullPageForm = true %}

{% set isNewNav = (nav is not defined or not nav.id) %}

{% if isNewNav %}
    {% set title = 'Create a new navigation' | t('navigation') %}
{% else %}
    {% set title = nav.name %}
{% endif %}

{% block blockContent %}
    <input type="hidden" name="action" value="navigation/navs/save-nav">
    {% if not isNewNav %}<input type="hidden" name="navId" value="{{ nav.id }}">{% endif %}
    {{ redirectInput('navigation/navs') }}

    <div id="settings">
        {{ forms.textField({
            first: true,
            label: 'Name' | t('app'),
            instructions: 'Name of this navigation in the control panel.' | t('navigation'),
            id: 'name',
            name: 'name',
            value: (nav is defined ? nav.name : null),
            errors: (nav is defined ? nav.getErrors('name') : null),
            autofocus: true,
            required: true,
        }) }}

        {{ forms.textField({
            label: 'Handle' | t('app'),
            instructions: 'How you’ll refer to this navigation in the templates.' | t('navigation'),
            id: 'handle',
            name: 'handle',
            class: 'code',
            value: (nav is defined ? nav.handle : null),
            errors: (nav is defined ? nav.getErrors('handle') : null),
            required: true,
        }) }}

        {{ forms.textareaField({
            label: 'Instructions' | t('app'),
            instructions: 'Helper text to guide the author. Shown at the top of the page when editing a navigation.' | t('app'),
            id: 'instructions',
            class: 'nicetext',
            name: 'instructions',
            value: (nav is defined ? nav.instructions : null),
            errors: (nav is defined ? nav.getErrors('instructions') : null),
        }) }}

        {{ forms.textField({
            label: 'Max Levels' | t('app'),
            instructions: 'The maximum number of levels this navigation can have. Leave blank for no limit.' | t('navigation'),
            id: 'maxLevels',
            name: 'maxLevels',
            size: 5,
            value: (nav is defined ? nav.maxLevels : null),
            errors: (nav is defined ? nav.getErrors('maxLevels') : null),
        }) }}

        {{ forms.textField({
            label: 'Max Nodes' | t('app'),
            instructions: 'The maximum number of nodes this navigation can have. Leave blank for no limit.' | t('navigation'),
            id: 'maxNodes',
            name: 'maxNodes',
            size: 5,
            value: (nav is defined ? nav.maxNodes : null),
            errors: (nav is defined ? nav.getErrors('maxNodes') : null),
        }) }}

        {% if craft.app.getIsMultiSite() %}
            {{ forms.lightswitchField({
                label: 'Propagate nodes across all enabled sites?' | t('navigation'),
                instructions: 'Whether nodes in this navigation should be propagated across all the sites the available is enabled in. If this is disabled, each node will only belong to the site it was created in.' | t('navigation'),
                id: 'propagateNodes',
                name: 'propagateNodes',
                on: nav.propagateNodes,
            }) }}

            {% set siteRows = [] %}

            {% for site in craft.app.sites.getEditableSites() %}
                {% set siteRows = siteRows | merge({
                    (site.uid): {
                        heading: site.name | t('site') | e,
                        enabled: isNewNav or (nav.siteSettings[site.uid].enabled ?? false),
                    } | filter
                }) %}
            {% endfor %}

            {{ forms.editableTableField({
                label: 'Site Settings' | t('app'),
                instructions: 'Choose which sites this navigation should be available in.' | t('navigation'),
                id: 'siteSettings',
                name: 'siteSettings',
                cols: {
                    heading: {
                        type: 'heading',
                        heading: 'Site' | t('app'),
                        thin: true,
                    },
                    enabled: {
                        type: 'lightswitch',
                        heading: 'Enabled' | t('app'),
                        thin: true,
                    },
                } | filter,
                rows: siteRows,
                fullWidth: false,
                staticRows: true,
                errors: (nav is defined ? nav.getErrors('siteSettings') : null),
            }) }}
        {% endif %}
    </div>

    <div id="node-fields" class="hidden">
        {% include '_includes/fieldlayoutdesigner' with {
            fieldLayout: nav.getNavFieldLayout(),
            customizableTabs: false,
            customizableUi: false,
            pretendTabName: 'Fields' | t('app'),
        } only %}
    </div>

    <div id="permissions" class="hidden">
        <h2>{{ 'Permissions' | t('navigation') }}</h2>
        <p>{{ 'Select which node types can be added when building your navigation.' | t('navigation') }}</p>

        {% namespace 'permissions' %}
            {% for element in craft.navigation.getRegisteredElements() %}
                {% set elementOptions = [] %}

                {% for source in element.sources %}
                    {% if source.key is defined %}
                        {% set elementOptions = [{ value: source.key, label: source.label | e }] | merge(elementOptions) %}
                    {% endif %}
                {% endfor %}

                {{ forms.lightswitchField({
                    label: 'Show {name}' | t('navigation', { name: element.label }),
                    instructions: 'Whether to allow {name} to be added.' | t('navigation', { name: element.label }),
                    name: element.type ~ '[enabled]',
                    on: nav.permissions[element.type].enabled ?? element.default ?? false,
                    toggle: 'settings-' ~ element.label | kebab,
                }) }}

                <div id="settings-{{ element.label | kebab }}">
                    {{ forms.checkboxSelectField({
                        label: element.label | t('navigation'),
                        instructions: 'Select which element groups should be allowed to pick elements from.' | t('navigation'),
                        name: element.type ~ '[permissions]',
                        options: elementOptions,
                        values: nav.permissions[element.type].permissions ?? '*',
                        showAllOption: true,
                    }) }}
                </div>

                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}

            {% for nodeType in craft.navigation.getRegisteredNodeTypes() %}
                {% if loop.first %}
                    <hr>
                {% endif %}

                {{ forms.lightswitchField({
                    label: 'Show {name}' | t('navigation', { name: nodeType.displayName() }),
                    instructions: 'Whether to allow {name} nodes to be added.' | t('navigation', { name: nodeType.displayName() }),
                    name: className(nodeType) ~ '[enabled]',
                    on: nav.permissions[className(nodeType)].enabled ?? true,
                }) }}

                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}

            <hr>

            {{ forms.lightswitchField({
                label: 'Show {name}' | t('navigation', { name: 'Custom URL' }),
                instructions: 'Whether to allow {name} nodes to be added.' | t('navigation', { name: 'Custom URL' }),
                name: 'custom' ~ '[enabled]',
                on: nav.permissions['custom'].enabled ?? true,
            }) }}
        {% endnamespace %}
    </div>

{% endblock %}

{% if nav is not defined or not nav.handle %}
    {% js %}
        new Craft.HandleGenerator('#name', '#handle');
    {% endjs %}
{% endif %}
