{% extends 'navigation/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: craft.navigation.getPluginName(), url: url('navigation') },
    { label: 'Navigations' | t('navigation'), url: url('navigation/navs') },
] %}

{% block actionButton %}
    {% if editable %}
        <div id="button-container">
            <div class="btngroup submit">
                <a class="btn submit add icon" href="{{ url('navigation/navs/new') }}">
                    {{ 'New navigation' | t('navigation') }}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <p id="nonavigations"{% if navigations | length %} class="hidden"{% endif %}>
        {{ "No navigations exist yet." | t('navigation') }}
    </p>

    {% if navigations | length %}
        {% set sortable  = (navigations | length > 1) %}

        <table id="navigations" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Name" | t('app') }}</th>
                <th scope="col">{{ "Handle" | t('app') }}</th>

                {% if editable %}
                    {% if sortable %}<td class="thin"></td>{% endif %}
                    <td class="thin"></td>
                {% endif %}
            </thead>
            <tbody>
                {% for navigation in navigations %}
                    <tr data-id="{{ navigation.id }}" data-name="{{ navigation.name | t('site') }}">
                        <th scope="row" data-title="{{ 'Name' | t('app') }}">
                            {% if editable %}
                                <a class="nav-anchor" href="{{ url('navigation/navs/build/' ~ navigation.id) }}">{{ navigation.name | t('app') }}</a>
                            {% else %}
                                {{ navigation.name | t('app') }}
                            {% endif %}
                        </th>

                        <td scope="row" data-title="{{ 'Handle' | t('app') }}" class="code">{{ navigation.handle }}</td>

                        {% if editable %}
                            {% if sortable %}<td class="thin"><a class="move icon" title="{{ 'Reorder' | t('navigation') }}" role="button"></a></td>{% endif %}
                            <td class="thin"><a href="{{ url('navigation/navs/edit/' ~ navigation.id) }}" class="settings icon" title="{{ 'Settings' | t('app') }}" role="button"></a></td>
                            <td class="thin"><a class="delete icon" title="{{ 'Delete' | t('app') }}" role="button"></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% js %}
    var sites = {{ siteHandles | json_encode | raw }};

    // Get the local storage and add the storedSiteid param to the URL's.
    $('.nav-anchor').each(function() {
        var $this = $(this);
        var _href = $this.attr('href');

        var siteId = localStorage.getItem('Craft-' + Craft.systemUid + '.BaseElementIndex.siteId');
        
        if (siteId !== null && sites[siteId]) {
            $this.attr('href', _href + '/' + sites[siteId]);
        }
    });

    var adminTable = new Craft.AdminTable({
        tableSelector: '#navigations',
        noItemsSelector: '#nonavigations',
        sortable: true,
        reorderAction: 'navigation/navs/reorder-nav',
        deleteAction: 'navigation/navs/delete-nav',
    });
{% endjs %}

